[submodule "start/vim-airline"]
	path = start/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "start/vim-airline-themes"]
	path = start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "start/vim-fugitive"]
	path = start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
